.container
  .row.align-content-center
    .col-8
      .card.testimonial-card
        .card-up.indigo.lighten-1
        .avatar.mx-auto.white
          = image_tag 'img_ava.jpg', class: 'rounded-circle'

        .card-body
          %h4.card-title= @admin.first_name + ' ' + @admin.last_name
          %hr
          %p
            %i.fa.fa-quote-left
            = @admin.email
          %p
            = link_to 'Edit', edit_admin_path(@admin), class: 'btn btn-outline-info waves-effect'
